@import '../variables';

.ember-burger-menu.fall-down {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;

	.bm-menu {
		z-index: 1;
		opacity: 1;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	&.is-open {
		.bm-menu {
			visibility: visible;
			-webkit-transition-timing-function: ease-in-out;
			transition-timing-function: ease-in-out;
			-webkit-transition-property: -webkit-transform;
			transition-property: transform;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			-webkit-transition-speed: 0.2s;
			transition-speed: 0.2s;
		}
	}
}
