@import '../variables';

.ember-burger-menu.scale-up {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;

	.bm-menu {
		z-index: 1;
		opacity: 1;
	}

	&.is-open {
		.bm-menu {
			visibility: visible;
			-webkit-transition: -webkit-transform 0.5s;
			transition: transform 0.5s;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
	}
}
