@import './variables';

@import './animations/rotate-out';
@import './animations/fall-down';
@import './animations/open-door';
@import './animations/push';
@import './animations/push-rotate';
@import './animations/reveal';
@import './animations/scale-down';
@import './animations/scale-rotate';
@import './animations/scale-up';
@import './animations/slide';
@import './animations/slide-reverse';

@import './animations/menu-item/push';
@import './animations/menu-item/stack';

.ember-burger-menu {
	position: relative;
	height: 100%;
	overflow: hidden;

	.bm-menu {
		position: absolute;
		top: 0;
		z-index: 100;
		visibility: hidden;
		height: 100%;
		-webkit-transition: all $t-duration;
		transition: all $t-duration;

		&:not(.bm-item--none) {
			.bm-menu-item {
				-webkit-transition: all 0s;
				transition: all 0s;
				-webkit-transition-delay: $t-duration;
				transition-delay: $t-duration;
			}
		}
	}

	.bm-outlet {
		position: relative;
		z-index: 99;
		height: 100%;
		perspective: 1000px;
		-webkit-transition: -webkit-transform $t-duration;
		transition: transform $t-duration;

		.bm-content {
			position: relative;
			height: 100%;
			background: white;
			overflow: auto;
		}
	}

	&.translucent-overlay {
		.bm-menu {
			&::after {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.2);
				content: '';
				opacity: 1;
				-webkit-transition: opacity $t-duration;
				transition: opacity $t-duration;
			}
		}

		.bm-outlet {
			&::after {
				position: absolute;
				top: 0;
				right: 0;
				width: 0;
				height: 0;
				background: rgba(0,0,0,0.2);
				content: '';
				opacity: 0;
				-webkit-transition: opacity $t-duration, width 0.1s $t-duration, height 0.1s $t-duration;
				transition: opacity $t-duration, width 0.1s $t-duration, height 0.1s $t-duration;
			}
		}
	}

	&.is-open {
		&:after {
			display: none;
		}

		.bm-menu {
			visibility: visible;
			-webkit-transition: -webkit-transform $t-duration;
			transition: transform $t-duration;

			&::after {
				width: 0;
				height: 0;
				opacity: 0;
				-webkit-transition: opacity $t-duration, width 0.1s $t-duration, height 0.1s $t-duration;
				transition: opacity $t-duration, width 0.1s $t-duration, height 0.1s $t-duration;
			}

			.bm-menu-item {
				-webkit-transition-delay: 0;
				transition-delay: 0;
			}
		}

		.bm-outlet {
			&::after {
				width: 100%;
				height: 100%;
				opacity: 1;
				-webkit-transition: opacity $t-duration;
				transition: opacity $t-duration;
			}
		}
	}

	&.left {
		.bm-menu {
			left: 0;
		}

		.bm-outlet {
			left: 0;
		}
	}

	&.right {
		.bm-menu {
			right: 0;
		}

		.bm-outlet {
			right: 0;
		}
	}
}
