{{#ember-wormhole to=(concat containerId '-outlet-menu') renderInPlace=renderInPlace}}
  <div class="bm-menu {{if itemAnimation (concat 'bm-item--' itemAnimation) 'bm-item--none'}}" style={{style}}>
    {{yield (hash
        item=(component 'bm-menu-item' state=state)
      )
    }}
  </div>
{{/ember-wormhole}}
